*.elc
auto-save-list/
abbrev_defs
bookmarks
custom.el
early-init.el
eln-cache/
elpa/
eshell/
history
image-dired/
.org-id-locations
org-persist/
org-roam.db
places
projects
recentf
server/
transient/
